USE [vcargo3]
GO
/****** Object:  StoredProcedure [vcargo3].[sp_GetChallan]    Script Date: 28-05-2026 06:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [vcargo3].[sp_GetChallan]
@Status NVARCHAR(50),
@UserId INT,
@BranchId INT,
@CompanyId INT,
@FromDate DATETIME,
@ToDate DATETIME,
@ToDestination  NVARCHAR(100) = NULL,
@TransportName NVARCHAR(100) = NULL,
@BusNo  NVARCHAR(100) = NULL,
@TCType  NVARCHAR(50),
@ChallanNo NVARCHAR(50) = NULL

AS 
BEGIN
  SET NOCOUNT ON;
   WITH ChallanList AS (
		select  ch.id, ch.ChallanId, ch.ChallanDate, ch.ChallanTime, ch.BusNo, ch.FromDestination, ch.Destination, ch.ChallanType, ch.TransportName,
				 ch.TotalItems, ch.LaborCharge, ch.GstCharge, ch.OtherCharge, ch.TempoCharge, ch.Commission, ch.TotalAmount, ch.NetTotal,

			 ISNULL(SUM(lb.TotalAmt), 0) AS BTotalAmt,
			 ISNULL(SUM(lb.Weight), 0) AS TotalWeight,
			 ISNULL(SUM(lb.LabourCharge), 0) AS LabourCharge,
			 ISNULL(SUM(lb.CrossingFreight), 0) AS CrossingFreight,
			 SUM(CASE WHEN lb.PaidType = 'Paid' THEN lb.TotalAmt ELSE 0 END) AS Paid,
			 SUM(CASE WHEN lb.PaidType = 'PaidCash' THEN lb.TotalAmt ELSE 0 END) AS PaidCash,
			 SUM(CASE WHEN lb.PaidType = 'PaidUPI' THEN lb.TotalAmt ELSE 0 END) AS PaidUPI,
			 SUM(CASE WHEN lb.PaidType = 'UPI' THEN lb.TotalAmt ELSE 0 END) AS UPI,
			 SUM(CASE WHEN lb.PaidType = 'ToPay' THEN lb.TotalAmt ELSE 0 END) AS ToPay,
			 SUM(CASE WHEN lb.PaidType = 'Debit' THEN lb.TotalAmt ELSE 0 END) AS Debit,
			 SUM(CASE WHEN lb.PaidType = 'PaidDue' THEN lb.TotalAmt ELSE 0 END) AS PaidDue,
			 MAX(CASE WHEN cd.challanSr = ch.id AND cd.isavailable = 1 THEN 1 ELSE 0 END) AS ischange,
			 MAX(CASE WHEN ch.TCType = 'C' THEN b.Commission ELSE t.TransportCommission END) AS BranchCommission

 FROM Challan ch
          INNER JOIN ChallanDetail cd ON ch.id = cd.challanSr
          INNER JOIN LuggageBooking lb ON cd.BookingSr = lb.id
          INNER JOIN BranchInformation b ON ch.Branchid = b.id
          LEFT JOIN Transport t ON ch.TransportName = t.TransportName and t.CompanyId = ch.CompanyId
          LEFT JOIN CompanyInformation cp ON ch.CompanyId = cp.id
WHERE
		ch.CompanyId = @CompanyId
		AND (@BranchId = -1 or ch.Branchid = @BranchId)
		 AND ch.ChallanDate >= @FromDate AND ch.ChallanDate <= @ToDate 
		 AND (@ToDestination IS NULL OR @ToDestination = '--Select Route--' OR ch.Destination = @ToDestination)	
		AND (@TCType = 'C' OR @TransportName IS NULL OR @TransportName = '--Transport Name--' OR ch.TransportName = @TransportName) 
	    AND ( (@TCType = 'C' AND (@BusNo IS NULL OR @BusNo = '--Select Cargo--' OR ch.BusNo = @BusNo)) OR 
        (@TCType <> 'C' AND (@BusNo IS NULL OR @BusNo = '--Transport No--' OR ch.BusNo = @BusNo)))
	     AND ch.TCType = @TCType AND ch.ChallanType != 'Via'
		 AND (@ChallanNo IS NULL OR ch.ChallanId Like '%' + @ChallanNo)
GROUP BY
		 ch.id, ch.ChallanId, ch.ChallanDate, ch.ChallanTime, ch.BusNo, ch.FromDestination, ch.Destination, ch.ChallanType, ch.TransportName,
	     ch.TotalItems, ch.LaborCharge, ch.GstCharge, ch.OtherCharge, ch.TempoCharge, ch.Commission, ch.TotalAmount, ch.NetTotal
 )
  SELECT * FROM ChallanList cd
	 ORDER BY cd.id DESC;
END


