USE [vcargo3]
GO
/****** Object:  StoredProcedure [dbo].[sp_ToPayDispatchLuggageReport]    Script Date: 28-05-2026 06:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  

  --  Exec sp_ToPayDispatchLuggageReport 27, 78, NULL, '2026-05-01', '2026-05-20'

ALTER PROCEDURE [dbo].[sp_ToPayDispatchLuggageReport]    
    @CompanyId INT,    
    @BranchId INT,    
    @Destination INT = -1,    
    @FromDate DATE,    
    @ToDate DATE    
AS    
BEGIN    
    SET NOCOUNT ON;    
    
    SELECT     
      lb.BookingId ,    
   lb.Descriptions,    
   lb.FName,    
   lb.FMobile,    
   lb.Fgst,    
   lb.TName,    
   lb.TMobile,    
   lb.Tgst,    
   lb.PaidType,    
   lb.TotalParcel,    
   lb.ToDestination,    
   lb.ToDestId,    
   lb.FromDestination,    
   lb.BookingDate,    
   lb.PackingType,    
   lb.Weight,    
   lb.TotalAmt,    
   lb.DeliveryCartage,    
   lb.LabourCharge    
    FROM Challan AS c WITH(NOLOCK)   
    LEFT JOIN ChallanDetail AS cd WITH(NOLOCK) ON c.id = cd.challanSr    
    LEFT JOIN LuggageBooking AS lb  WITH(NOLOCK) ON lb.id = cd.BookingSr    
    WHERE     
        c.CompanyId = @CompanyId    
        AND c.Branchid = @BranchId    
        AND (@Destination = -1 OR lb.ToDestId = @Destination)    
        AND c.ChallanDate >= @FromDate    
        AND c.ChallanDate <= @ToDate    
        AND lb.cancel = 0    
        AND lb.PaidType = 'ToPay';    
END 